---
import {Icon} from 'astro-icon/components'
import { getCollection } from 'astro:content';

const skills = await getCollection('skills');
---

<div>
    <ul>
        {skills.map(skill => (
            <li class="skill">
                <Icon name={skill.id}/>{skill.data.label}
            </li>
        ))}
    </ul>
      <ul>
        {skills.map(skill => (
            <li class="skill">
                <Icon name={skill.id}/>{skill.data.label}
            </li>
        ))}
    </ul>
</div>
<style lang="scss">
    div {
        margin: 0 -2rem;
        display: flex;
        overflow: clip;
        ul {
            --duration: 25s;
            justify-self: flex-start;
            display: flex;
            flex-shrink: 0;
            width: max-content;
            background: var(--textColor);
            color: var(--mainColor);
            animation: slide-left var(--duration, 10s) linear infinite;
            animation-delay: calc(-1 * var(--duration, 10s));
            gap: 0.2rem;
            &:last-child {
                animation-delay: 0;
            }
            @keyframes slide-left {
                0% {
                    transform: translateX(0);
                }
                100% {
                    transform: translateX(-100%);
                }
            }

            li {
                display: flex;
                align-items: center;
                padding: 0.5rem;
                width: fit-content;

                :first-child {
                    margin-right: 0.5rem;
                }
            }
        }
    }
</style>
